@import "tailwindcss";
@source "../../internal/views";
@plugin "daisyui" {
    themes: dracula --default;
}
@plugin "@tailwindcss/typography";

@layer base {
    a:not([class]) {
        color: var(--color-primary);
        text-decoration: underline;
        text-underline-offset: 0.2em;
    }

    a:not([class]):hover {
        color: color-mix(in srgb, var(--color-primary) 80%, white);
    }
}

@layer components {
    .prose a {
        color: var(--color-primary);
        text-decoration: underline;
        text-underline-offset: 0.2em;
        font-weight: 500;
    }

    .prose a:hover {
        color: color-mix(in srgb, var(--color-primary) 80%, white);
    }
}